/* Simple CSS for Recipe App */
body {
    font-family: Arial, sans-serif;
    background-size: cover; 
    background-position: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 30px;
}

h1 {
    font-size: 80px; 
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    color: black;
    
    
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

#recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.recipe {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe img {
    width: 100%;
    border-radius: 5px;
}

.recipe h3 {
    font-size: 18px;
    margin: 10px 0;
}

.recipe a {
    text-decoration: none;
    color: #28a745;
}

.recipe a:hover {
    text-decoration: underline;
}
